#auth {
    background: #007aff;
}

.area-nav {
    background: #007aff;
    height: 100px;
}

.menu-logo {
    width: 350px;
}

.full-nav {
    height: 100px;
}

.menu-text {
    font-size: 20px !important;
    color: #fff;
    font-weight: 700;
}

.menu-button {
    margin-left: 100px;
}

.barra-inf {
    display: inline-flex;
    width: 100%;
}

.barra-inf-esq {
    width: 50%;
    margin-left: 30px;
}

.barra-inf-dir {
    width: 50%;
    text-align: right;
}

.busca {
    border-radius: 10px;
}

.form-control {
    border-radius: 20px;
}

.footer {
    width: 100% !important;
    text-align: center !important;
}