#auth {
    background: #007aff;
}

.area-nav {
    background: #007aff;
    height: 100px;
}

.menu-logo {
    width: 350px;
}

.full-nav {
    height: 100px;
}

.menu-text {
    font-size: 20px !important;
    color: #fff;
    font-weight: 700;
}

.menu-button {
    margin-left: 100px;
}