#auth {
    background: #007aff;
}

.area-nav {
    background: #007aff;
    height: 100px;
}

.menu-logo {
    width: 300px;
    display: block;
    margin: auto;;
}

.full-nav {
    height: 100px;
}

.menu-text {
    font-size: 20px !important;
    color: #fff;
    font-weight: 700;
    margin-top: 76px;
}

.menu-button {
    margin-left: 200px;
    word-spacing: 10px;
}

.barra-inf {
    display: inline-flex;
    width: 100%;
}

.barra-inf-esq {
    width: 50%; 
    margin: auto;
}

.barra-inf-dir {
    width: 50%;
    margin: auto;
    text-align: -webkit-right;
}

.busca {
    border-radius: 10px;
}

.form-busca {
    width: 300px;
}

.form-create {
    width: 760px;
}

.form-control {
    border-radius: 20px;
}

.footer {
    width: 100% !important;
    text-align: center !important;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.tela-login {
    height: 100vh;
}

.linha-1 {
    display: inline-flex;
    width: 100%;
}

.input-dominio {
    width: 50%;
}

.input-servidor {
    width: 50%;
    margin-left: 10px;
}

.linha-2 {
    display: inline-flex;
    width: 100%;
}

.input-ssl {
    width: 50%;
}

.input-tipo {
    width: 50%;
    margin-left: 10px;
}

.linha-3 {
    display: inline-flex;
    width: 100%;
}

.input-automatico {
    width: 50%;
}

.input-periodo {
    width: 50%;
    margin-left: 10px;
}

.linha-4 {
    display: inline-flex;
    width: 100%;
    margin: auto;
}

.input-expiracao {
    width: 50%;
}

.btm-primary {
    width: 50%;
    margin-left: 10px;
    margin-top: 25px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    height: 40px;
}

.listagem-dominios p {
    border: solid 1px #007aff;
    border-radius: 20px;
    padding: 10px;
}

.listagem-dominios p:hover {
    border: solid 1px #007aff;
    background: #007aff;
    color: #fff;
}